---
layout: default
title: Ana Paula de Moraes | Nutricionista
schema: '{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "Ana Paula de Moraes",
  "image": "https://nutrianapaulamoraes.com.br/assets/img/perfil.webp",
  "description": "Nutricionista com atendimento online, focado em performance, estética corporal e resultados reais.",
  "address": {
    "@type": "06763-060",
    "addressLocality": "Taboão da Serra",
    "addressCountry": "BR"
  },
  "telephone": "+5512982055557",
  "url": "https://nutrianapaulamoraes.com.br"
}'
---

<section class="hero">
  <h1><span class="cursive">Acompanhamento nutricional</span>
  para transformar sua saúde, sua performance e sua qualidade de vida</h1>
  <p>Atendimento nutricional personalizado, 100% online, com foco em performance, estética corporal e resultados reais.</p>
  <a href="{{ '/agenda' | relative_url }}" target="_blank" class="btn-agendar">Quero agendar minha consulta</a>
</section>  

<section id="app-section" class="mensagem-aplicativo" style="content-visibility: auto">
  <div class="flex justify-center items-center">
    <img src="{{ '/assets/img/imagem-celular-app-transparent.webp' | relative_url }}" alt="Aplicativo exclusivo de acompanhamento nutricional" class="mockup-app" loading="lazy">
  </div>

  <div class="texto-coluna">
    <div class="section-title cursive">Tecnologia no seu Acompanhamento</div>
    <h2 class="texto-destaque">
      Esqueça papéis ou PDFs perdidos. Você terá acesso a uma <strong>plataforma exclusiva para pacientes</strong>, 
      onde seu plano, evolução antropométrica, lista de compras e canal de comunicação direto comigo estão 
      centralizados em um único lugar.
    </h2>
  </div>
</section>

<section style="content-visibility: auto">
  <div class="section-title cursive">Sobre Ana Paula</div>
  <div class="crn">{{ site.author.crn }}</div>

  <div class="about-container">
    <div class="about-photo">
      <img fetchpriority="high" src="{{ '/assets/img/perfil.webp' | relative_url }}" alt="Ana Paula de Moraes" loading="lazy">
    </div>
    <div class="about-text">
      <p class="about-paragrafo">
       <span class="dropcap">N</span>utricionista com atuação focada em nutrição clínica e funcional, 
      em constante aprimoramento profissional por meio de formações complementares na área.				
      Seu trabalho é baseado na compreensão da rotina, do biotipo e dos objetivos de cada paciente, 
      construindo estratégias alimentares realistas e sustentáveis.</p>
      <p>O objetivo é transformar sua relação com a alimentação e promover resultados consistentes
      na saúde, estética corporal e performance.</p>
    </div>
  </div>
</section>  

<section class="stats" style="content-visibility: auto">
  <div class="stat">
    <div class="stat-number" data-target="4920" data-suffix="+">0</div>
    <div class="stat-label">Horas dedicadas em estudos</div>
  </div>
  <div class="stat">
    <div class="stat-number" data-target="2500" data-suffix="+">0</div>
    <div class="stat-label">Pessoas Impactadas</div>            
  </div>
  <div class="stat">
    <div class="stat-number" data-target="98">0</div>
    <div class="stat-label">% de Satisfação</div>
  </div>
  <div class="stat">
    <div class="stat-number" data-target="4">0</div>
    <div class="stat-label">Anos de Atuação</div>
  </div>
</section>

<section class="secao-split" style="content-visibility: auto">
  <div class="split-imagem">
      <div class="foto-ken-burns" style="background-image: url('{{ "/assets/img/imagem-impacto-1.webp" | relative_url }}');"></div>
      <div class="fade-lateral"></div>
  </div>

  <div class="split-conteudo">
      <i class="fa-solid fa-baby icone-dourado-grande"></i>
      <h2 class="texto-destaque">
           A nutrição começa desde o nascimento, é o cuidado silencioso que constrói a saúde, escolhas e impactos por toda a vida
      </h2>
  </div>
</section>

<section class="habilidades" id="sec-habilidades" style="content-visibility: auto">
  <div class="section-title cursive center">Áreas de Atuação</div>
  <p class="sub">Distribuição das principais frentes de trabalho</p>
  <div class="radar-wrapper">
  <canvas id="radarChart"></canvas>
  </div>
</section>

<section class="secao-split">
  <div class="split-imagem">
      <div class="foto-ken-burns" style="background-image: url('{{ "/assets/img/imagem-impacto-2.webp" | relative_url }}');"></div>
      <div class="fade-lateral"></div>
  </div>

  <div class="split-conteudo">
      <i class="fa-solid fa-bolt icone-dourado-grande"></i>
      <h2 class="texto-destaque">
          Sua performance, estética e energia começam na alimentação e no cuidado diário com a própria saúde
      </h2>
  </div>
</section>

<section style="content-visibility: auto">
  <div class="section-title cursive">Serviços</div>
  <div class="cards">
    <div class="card">
      <h3>Consulta Nutricional</h3>
      <p>Avaliação completa do seu perfil e objetivos</p>
    </div>
    <div class="card">
      <h3>Plano Alimentar Personalizado</h3>
      <p>Plano alimentar estratégico para seu biotipo</p>
    </div>
    <div class="card">
      <h3>Acompanhamento Online</h3>
      <p>Suporte contínuo durante toda sua jornada</p>
    </div>
  </div>
</section> 

<section class="secao-split" style="content-visibility: auto">
  <div class="split-imagem">
      <div class="foto-ken-burns" style="background-image: url('{{ "/assets/img/imagem-impacto-3.webp" | relative_url }}');"></div>
      <div class="fade-lateral"></div>
  </div>

  <div class="split-conteudo">
      <i class="fa-solid fa-shield-heart icone-dourado-grande"></i>
      <h2 class="texto-destaque">
          A longevidade e a autonomia que você deseja dependem do acompanhamento nutricional que você decide ter hoje
      </h2>
  </div>
</section>

<section>
  <div class="section-title cursive" style="content-visibility: auto">Sua Jornada</div>
  <div class="journey">
    <div class="step"><p class="step-number">01</p><h3>Agendamento</h3><p>Você escolhe o melhor horário e inicia seu processo de cuidado nutricional</p></div>
    <div class="step"><p class="step-number">02</p><h3>Avaliação Completa</h3><p>Análise detalhada do seu histórico, rotina, exames e objetivos</p></div>
    <div class="step"><p class="step-number">03</p><h3>Plano Alimentar Personalizado</h3><p>Estratégia alimentar exclusiva, pensada para o seu biotipo e metas</p></div>
    <div class="step"><p class="step-number">04</p><h3>Acompanhamento Contínuo</h3><p>Suporte via aplicativo para ajustes, dúvidas e evolução constante</p></div>
  </div>
</section>

<section class="secao-split" style="content-visibility: auto">
  <div class="split-imagem">
      <div class="foto-ken-burns" style="background-image: url('{{ "/assets/img/imagem-impacto-4.webp" | relative_url }}');"></div>
      <div class="fade-lateral"></div>
  </div>

  <div class="split-conteudo">
      <i class="fa-solid fa-person-walking icone-dourado-grande"></i>
      <h2 class="texto-destaque">
          Qualidade de vida na maturidade é o resultado direto do cuidado contínuo com a saúde e a nutrição
      </h2>
  </div>
</section>

<section style="content-visibility: auto">
  <div class="section-title cursive">O jeito de pensar de quem se cuida de verdade</div>

  <sub>Frases inspiradas em perfis comportamentais de pessoas que alcançam resultados reais</sub>
  <div class="testimonial-carousel">
      <div class="testimonial-track">
          {% for testimonial in site.data.testimonials %}
          <div class="testimonial-item">
              “{{ testimonial.text }}”<br><strong>- {{ testimonial.author }}</strong>
          </div>
          {% endfor %}
          
          {% for testimonial in site.data.testimonials limit:2 %}
          <div class="testimonial-item">
              “{{ testimonial.text }}”<br><strong>- {{ testimonial.author }}</strong>
          </div>
          {% endfor %}
      </div>
  </div>
</section>