<header id="main-header" class="flex justify-between items-center p-5 px-10">
  <img loading="lazy" src="{{ '/assets/img/logo.webp' | relative_url }}" alt="{{ site.title }}" class="logo">
  
  <nav class="nav-links" id="nav-menu">
    <a class="nav-button" href="{{ '/' | relative_url }}">Início</a>
    <a class="nav-button" href="{{ '/faq' | relative_url }}">FAQ</a>
    <a class="nav-button" href="{{ '/blog' | relative_url }}">Blog</a>
    
    </nav>

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>