name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # sempre que fizer push para main, deploy será disparado

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # diretório raiz do site (HTML, CSS, JS)
